@import "../../styles/colors.scss";

.BMI__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $backgroundColor;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .BMI__flex {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 500px;

        .BMI__result {
            margin-top: 10px;
            text-align: center;
        }
    }

    .BMI__health-range {
        position: absolute;
        top: 0;
        right: -50%;
        margin-top: 20px;
        text-align: center;
        padding: 10px;
        border-radius: 8px;
        background-color: $backgroundColor;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        h3 {
            margin-bottom: 5px;
            font-size: 18px;
            font-weight: bold;
            color: $headerColor;
        }
    }
}

.BMI__input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.BMI__input-box > * {
    margin: 8px 0;
}