@import "../../styles/colors.scss";

.Input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 2px solid $textColor;
    border-radius: 4px;
    color: $textColor;
    transition: border-color 0.3s ease;

    &::placeholder {
        color: #888888;
    }

    &:focus {
        outline: none;
        border-color: $primaryColor;
    }

    &.error {
        border-color: $error-warrningColor;
    }
}