@import "../../styles/colors.scss";

.Typography {
    &.default {
        color: $textColor;
        font-size: 16px;
        font-weight: normal;
    }

    &.h1 {
        color: $primaryColor;
        font-size: 36px;
        font-weight: bold;
    }

    &.h2 {
        color: $primaryColor;
        font-size: 30px;
        font-weight: bold;
    }

    &.h3 {
        color: $secondaryColor;
        font-size: 24px;
        font-weight: bold;
    }
    
    &.h4 {
        color: $secondaryColor;
        font-size: 20px;
        font-weight: bold;
    }

    &.h5 {
        color: $textColor;
        font-size: 18px;
        font-weight: bold;
    }

    &.h6 {
        color: $textColor;
        font-size: 16px;
        font-weight: bold;
    }

    &.span {
        color: $textColor;
        font-size: 14px;
        font-weight: normal;
    }

    &.BMI__number {
        font-size: 48px;
        font-weight: bold;
        color: #ff3B30;
    }

    &.BMI__category {
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 10px;
        display: inline-block;
        padding: 5px 10px;
        border-radius: 5px;
    }
}